body {
    background-image: linear-gradient(to left, white, black);
    background-clip: background;
    font-family:Verdana;
}

header {
    background-color:black;
    text-align:center;
}

header img {
    background-color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 10px;
}

main {
    background-color:black;
    color:white;
    text-align:center;
}

footer {
    background-color: white;
    color: blue;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 10px;
    text-align: center;
}

nav {
    margin:  20px 0px;
    padding:  20px 0px;
    background-image: linear-gradient(to left,white, black);
    background-clip: background;
    text-align: center;  
}

nav a {
    background-color: white;
    color: blue;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 10px;
}

a {
    color: blue;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 10px;
}

.gradient {
  background-image: linear-gradient(to left, blue, white);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.animated {
  animation: color-change 3s infinite;
}

@keyframes color-change {
  0% { color: blue; }
  25% { color: green; }
  50% { color: yellow; }
  75% { color: orange; }
  100% { color: red; }
}

div {
  background-image: linear-gradient(to left, navy, black);
  display: flex;
  justify-content: center
}

h1 h2 h3 {
  text-align: center;
}

.center {
  display:flex;
  justify-content: center;
  text-align: center;
}
